@using FreeLancer_v1.Models
@model ViewModelClass
@{
    ViewBag.Title = "Kesfet";
}

<h2>Kesfet</h2>
<div class="container">
    @Html.Partial("~/Views/Shared/_PartialPageCategory.cshtml")
    <!-- STATIC LAYOUT ENDS -->
    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper" class="col-lg-2">
            <ul class="sidebar-nav">
                @foreach (var item in Model.HomeCategory)
                {
                    <li>
                        <a href="#">@(item.name)</a>
                    </li>
                }

            </ul>
        </div>
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">

                    <div class="col-lg-10">
                        @foreach (var expert in Model.HomeExpert)
                        {
                            <div class="col-lg-3">
                                <img src="~/Mutlu/dfhodd.1.jpg" alt="..." class="img-thumbnail"><br />
                                @(expert.name)
                                @(expert.lastname)<br />
                                @(expert.degree)<br /><br /><br />
                            </div>
                        }
                    </div>

                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->
</div>

